body{
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: rgb(27, 26, 26);
}

.container{
    margin-top: 0;
    padding-top: 10px;
    display: flex;
    margin-left: 130px;
    align-items: center;
}
.logo{
    margin-top: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.design-section img{
    width: 100%;
    margin-left: 160px;
}
.input-group{
    border-radius: 10px;
    margin-top: 40px;
}
login-text a:hover{
    color: #F88F09;
}
input{
    width: 400px;
    height: 35px;
    background-color: gray 4;
}
.input-group label{
    margin-top: 50px;
}
button{
    width: 380px;
    height: 40px;
    margin-top: 64px;
}
button:hover{
    background-color: #F88F09;
    color: white;
}
p{
    text-align: center;
}
.social-login {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
}
@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: 30px;
    }

    .signup-box {
        width: 100%;
    }

    .design-section {
        display: none; /* Hide image for mobile */
    }

    .social-login {
        justify-content: center;
    }

    input, .register-btn {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        max-width: 900px;
        margin: auto;
    }

    .signup-box {
        width: 50%;
    }

    .design-section {
        display: block;
        width: 50%;
    }

    .design-section img {
        width: 100%;
        height: auto;
    }
}
